<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @cake.title %>
</p>

<p>
  <strong>Number of slices:</strong>
  <%= @cake.number_of_slices %>
</p>

<%= link_to 'Edit', edit_cake_path(@cake) %> |
<%= link_to 'Back', cakes_path %>
